:root{
  --accent-color: hsl(14, 88%, 65%);
  --primary-color: hsl(238, 29%, 16%);
  --answers-color: hsl(240, 6%, 50%);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%)) no-repeat ;
  height:100vh;
  font-size: 12px;
  font-family: 'Kumbh Sans', sans-serif;
}
.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 5rem;
}
.card{ 
  background: url('images/bg-pattern-mobile.svg') no-repeat top, white;
  width: 20rem;
  min-height: 31rem;
  max-height: auto;
  padding: 0 1.5rem 0rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 10px 40px -20px;
}

.image-part{
  position: relative;
  top: -110px;
  left: -13px;
}
.text-part{
  position: relative;
  top: -60px;
}
h1{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.question-div{
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  border-bottom: solid 1px hsl(240, 5%, 91%) ;
}
.question{
  font-size: 14px;
  color: var(--primary-color);
  margin: 1rem 0.5rem 1rem 0;
}
.question:hover{
  color: var(--accent-color);
}
.answers{
  display: none;
  margin-bottom: 1rem;
}
.img{
  margin: 1rem 0.5rem 1rem 0;
}

/* JS classes */
.rotate{
  transform: rotate(180deg);
}
.bold{
  font-weight: 700;
}
.visible{
  display: block;
  color: var(--answers-color);
}


@media (min-width: 1000px){
  .main-container{
    padding-top: 0;
  }
  .card{
    flex-direction: row;
    width: 55rem;
    min-height: 31rem;
    max-height: auto;
    background: url('images/bg-pattern-desktop.svg') no-repeat 700% 60%, white;
    position: initial;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 1.5rem 2rem;
  }
  h1{
    text-align: left;
  }
  .image-part{
    /* position: initial; */
    top: 60px;
    left: -120px;
  }
  .image-part>img{
    transform: scale(2);
  }
  .text-part{
    position: initial;
    width: 40%;
  }
}